[submodule "config/dirtree"]
	path = config/dirtree
	url = git@github.com:rtircher/dirtree.git
[submodule "config/emmet-mode"]
	path = config/emmet-mode
	url = git@github.com:smihica/emmet-mode.git
[submodule "config/smartparens"]
	path = config/smartparens
	url = https://github.com/Fuco1/smartparens.git
[submodule "config/expectations-mode"]
	path = config/expectations-mode
	url = https://github.com/gar3thjon3s/expectations-mode.git
[submodule "config/less-css-mode"]
	path = config/less-css-mode
	url = https://github.com/purcell/less-css-mode.git
[submodule "config/dockerfile-mode"]
	path = config/dockerfile-mode
	url = https://github.com/spotify/dockerfile-mode.git
[submodule "config/emacs-ansible"]
	path = config/emacs-ansible
	url = https://github.com/k1LoW/emacs-ansible.git
[submodule "config/emacs-neotree"]
	path = config/emacs-neotree
	url = https://github.com/jaypei/emacs-neotree.git
[submodule "config/project-explorer"]
	path = config/project-explorer
	url = https://github.com/sabof/project-explorer.git
[submodule "config/es-windows"]
	path = config/es-windows
	url = https://github.com/sabof/es-windows.git
[submodule "config/color-theme-wombat"]
	path = config/color-theme-wombat
	url = https://github.com/jasonblewis/color-theme-wombat.git
[submodule "config/emacs-leuven-theme"]
	path = config/emacs-leuven-theme
	url = https://github.com/fniessen/emacs-leuven-theme.git
[submodule "config/monokai-emacs"]
	path = config/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
[submodule "config/solarized-emacs"]
	path = config/solarized-emacs
	url = https://github.com/bbatsov/solarized-emacs.git
[submodule "config/noctilux-theme"]
	path = config/noctilux-theme
	url = https://github.com/sjrmanning/noctilux-theme.git
[submodule "gomode"]
	path = config/go-mode.el
	url = https://github.com/dominikh/go-mode.el.git
[submodule "config/groovy-emacs-modes"]
	path = config/groovy-emacs-modes
	url = https://github.com/Groovy-Emacs-Modes/groovy-emacs-modes.git
[submodule "config/workgroups.el"]
	path = config/workgroups.el
	url = https://github.com/tlh/workgroups.el.git
[submodule "config/projectile"]
	path = config/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "config/emacs-gradle-mode"]
	path = config/emacs-gradle-mode
	url = https://github.com/jacobono/emacs-gradle-mode.git
[submodule "config/perspective-el"]
	path = config/perspective-el
	url = https://github.com/nex3/perspective-el.git
[submodule "config/slamhound"]
	path = config/slamhound
	url = https://github.com/technomancy/slamhound.git
[submodule "config/git-gutter-fringe-plus"]
	path = config/git-gutter-fringe-plus
	url = https://github.com/nonsequitur/git-gutter-fringe-plus.git
[submodule "config/company-mode"]
	path = config/company-mode
	url = https://github.com/company-mode/company-mode.git
[submodule "config/coffee-mode"]
	path = config/coffee-mode
	url = https://github.com/defunkt/coffee-mode.git
[submodule "config/hydra"]
	path = config/hydra
	url = https://github.com/abo-abo/hydra.git
[submodule "config/flx"]
	path = config/flx
	url = https://github.com/lewang/flx.git
[submodule "config/fringe-helper.el"]
	path = config/fringe-helper.el
	url = https://github.com/nschum/fringe-helper.el.git
[submodule "config/emacs-git-gutter-fringe"]
	path = config/emacs-git-gutter-fringe
	url = https://github.com/syohex/emacs-git-gutter-fringe.git
[submodule "config/helm"]
	path = config/helm
	url = https://github.com/emacs-helm/helm.git
[submodule "config/ag.el"]
	path = config/ag.el
	url = https://github.com/Wilfred/ag.el.git
[submodule "config/emacs-helm-ag"]
	path = config/emacs-helm-ag
	url = https://github.com/syohex/emacs-helm-ag.git
[submodule "config/nyan-mode"]
	path = config/nyan-mode
	url = https://github.com/TeMPOraL/nyan-mode.git
[submodule "config/flycheck"]
	path = config/flycheck
	url = https://github.com/flycheck/flycheck.git
